html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
	background-color: #d0dae9;
}

.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
}

.calc {
	width: 242px;
	height: 392px;
	margin: 40px auto 0;
	border: 1px solid #333;
	/*border-radius: 10px;*/
}

form {
	margin: 0 auto;
/*	text-align: center;*/
}

input {
	background-color: #847A59;
	color: #fff;
	width: 240px;
	height: 65px;
	text-align: right;
	padding: 0;
	padding-right: 10px;
	border: 1px inset;
	font: normal normal normal normal 40px/normal '.HelveticaNeueDeskInterface-Regular';
}

.small-font {
	font: normal normal normal normal 23px/normal '.HelveticaNeueDeskInterface-Regular';
}

input:focus {
	color: #fff;
}

/* style placeholder text */
::-webkit-input-placeholder {
	color: #fff;
}

:-moz-placeholder {
	color: #fff;
}

::-moz-placeholder {
	color: #fff;
}

:-ms-input-placeholder {
	color: #fff;
}

button {
	text-align: center;
	/* overwrite default font size*/
	font: normal normal normal normal 18px/normal '.HelveticaNeueDeskInterface-Regular';
}

/* get rid of default highlight */
input:focus, button:focus {
  outline: none;
}

.w3 {
	width: 180px;
	height: 65px;
	margin: 0;
	padding: 0;
/*	padding-left: 24px;*/
	border: 1px inset;
	text-align: center;
}

.w1 {
	width: 60px;
	height: 65px;
	margin: 0;
	padding: 5px;
	border: 1px inset;
}

.operator {
	background-color: #F99471;
}